<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- <uses-permission -->
    <!-- android:name="android.permission.CAMERA" -->
    <!-- android:required="true" -->
    <!-- android:requiredFeature="true" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeLink"
        tools:targetApi="31">
        <activity
            android:name=".ChatbotActivity"
            android:label="Chatbot">
        </activity>
        <activity
            android:name=".GraphicalAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".SalesViewActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".StoreReturnActivity"
            android:exported="false" />
        <activity
            android:name=".CreditsActivity"
            android:exported="false" />
        <activity
            android:name=".ReturnsActivity"
            android:exported="false" />
        <activity
            android:name=".PaymenttActivity"
            android:exported="false" />
        <activity
            android:name=".BillingActivity"
            android:exported="false" />
        <activity
            android:name=".InventoryViewActivity"
            android:exported="false" />
        <activity
            android:name=".StoreProfileActivity"
            android:exported="false" />
        <activity
            android:name=".StoreContactActivity"
            android:exported="false" />
        <activity
            android:name=".StoreLoginActivity"
            android:exported="false" />
        <activity
            android:name=".StoreSignupActivity"
            android:exported="false" />
        <activity
            android:name=".StartUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>